<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modifica Utente</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
	rel="stylesheet">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container mt-5">
		<h2 class="text-center mb-4">Modifica Utente</h2>


		<form th:action="@{/operatore/updateStatus}" th:object="${user}"
			method="post">

			<!-- campo nascosto per l'id operatore -->
			<input type="hidden" name="id" th:value="${user.id}" />
			
			<!-- campo nascosto per la password -->
			<input type="hidden" name="id" th:value="${user.password}" />

			<!-- campo per il nome -->
			<div class="form-group">
				<label for="nome">Nome:</label> <input type="text" name="nome"
					th:field="*{nome}" class="form-control" th:value="${nome}"/>
			</div>

			<!-- campo per il cognome -->
			<div class="form-group">
				<label for="cognome">Cognome:</label> <input type="text"
					name="cognome" th:field="*{cognome}" class="form-control" th:value="${cognome}"/>
			</div>

			<!-- campo per la mail -->
			<div class="form-group">
				<label for="email">Email:</label>
				<div class="input-group">
					<input type="text" th:field="*{email}" nome="email"
						th:value="${#strings.substring(user.email, 0, user.email.indexOf('@'))}"
						name="email" class="form-control" />
					<div class="input-group-append">
						<span class="input-group-text">@ticketfacile.it</span>
					</div>
				</div>
			</div>
			
			<!-- campo per lo stato personale -->
			<div class="form-group">
				<label for="statoPersonale">Stato:</label> 
				<select th:field="*{statoPersonale}" nome="statoPersonale" class="form-control" th:value="${statoPersonale}">
					<option value="attivo">Attivo</option>
					<option value="non attivo">Non Attivo</option>
				</select>
			</div>


			<button type="submit" class="btn btn-primary">
				<i class="bi bi-save"></i>Salva Modifiche
			</button>

			<a href="/operatore/dashboard" class="btn btn-secondary"
				sec:authorize="hasAuthority('OPERATORE')"> <i
				class="bi bi-arrow-left"></i> Torna alla Dashboard
			</a>
			
				<a href="/admin/dashboard" class="btn btn-secondary"
				sec:authorize="hasAuthority('ADMIN')"> <i
				class="bi bi-arrow-left"></i> Torna alla Dashboard
			</a>
			
		</form>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
