<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Modifica Ticket</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
	rel="stylesheet">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container mt-4">
		<h1 class="mb-4">Modifica Ticket</h1>
		<!-- Modifica Ticket Form -->
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h5 class="mb-0">Dettagli Ticket</h5>
			</div>
			<div class="card-body">
				<form id="update-ticket" th:action="@{/ticket/edit}"
					th:object="${ticket}" method="post">

					<input type="hidden" th:field="*{id}"> 
					<input type="hidden" th:field="*{user}"/>
					<div sec:authorize="hasAuthority('OPERATORE')">
					<input type="hidden" th:field="*{categoria}">
					</div>

					<div class="mb-3">
						<label for="titolo">Titolo</label> <input type="text"
							class="form-control" id="titolo" th:field="*{titolo}"
							th:value="${ticket.titolo}" readonly>
					</div>

					<div class="mb-3">
						<label for="descrizione">Descrizione</label>
						<textarea class="form-control" id="descrizione"
							th:field="*{descrizione}" th:text="${ticket.descrizione}"
							rows="3" readonly></textarea>
					</div>

					<div class="mb-3">
						<label for="stato" class="d-block">Stato</label> <select
							class="form-select" id="stato" th:field="*{stato}">
							<option th:each="status : ${statuses}" th:value="${status}"
								th:text="${status}" th:selected="${status == ticket.stato}"></option>
						</select>
					</div>

					<div class="form-group" sec:authorize="hasAuthority('ADMIN')">
						<label for="categoria" class="d-block">Categoria</label> <select
							class="form-select" id="categoria" th:field="*{categoria}">
							<option value="" disabled selected>Seleziona una
								categoria</option>
							<option th:each="categoria : ${categorie}"
								th:value="${categoria.id}" th:text="${categoria.nome}"></option>
						</select>
					</div>

					<div class="text-center mt-4">
						<button type="submit" class="btn btn-primary">
							<i class="bi bi-save"></i> Modifica Ticket
						</button>

						<a href="/admin/dashboard" class="btn btn-secondary"
							sec:authorize="hasAuthority('ADMIN')"> <i
							class="bi bi-arrow-left"></i> Torna alla Dashboard
						</a> <a href="/operatore/dashboard" class="btn btn-secondary"
							sec:authorize="hasAuthority('OPERATORE')"> <i
							class="bi bi-arrow-left"></i> Torna alla Dashboard
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
